*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-image: url("moviles.jpg");
    padding: 20px;
}

header h1{
    background-color: rgba(255, 255, 255, 0.4);
    display: inline;
    padding: 20px;
}

header button{
    padding: 15px;
    background-color: rgb(58, 58, 221);
    color: rgb(210, 222, 233);
    border-color: rgb(58, 58, 221);
    border-style: solid;
    border-radius: 10px;
}

section#caracteristicas article{
    width: 30%;
    display: inline-block;
    margin-top: 20px;
    padding: 5px;
}

section#testimonios{
    background-color: deeppink;
}

section#testimonios article{
    font-style: italic;
    border-left: 5px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 15px;
}
section#faq{
    padding: 20px;
}
section#faq ul{
    list-style: none;
}

section#faq ul li{
    margin-top: 10px;
    font-weight: bold;
}