*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'kulminoituva';
    src: url('../fonts/kulminoituva.woff');
}

@font-face {
    font-family: 'noteThis';
    src: url('../fonts/Note_this.woff');
}

body{
    font-family: 'noteThis';
    background: #202020;
    color: #202020;
}

main{
    display: flex;
    justify-content: center;
}

ul.cartas{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
}

ul.cartas li{
    background-image: url(../images/nota.jpg);
    width: 150px;
    height: 450px;
    border: 1px solid #666666;
    padding: 25px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #000;
    position: relative;
    transition: transform 0.5s, z-index 0.5s;
}

ul.cartas li h2{
    font-family: 'kulminoituva';
    text-align: center;
}

li.card1{
    left: 150px;
    top:40px;
    z-index: 1;
    transform: rotate(-20deg);
}

li.card1:hover{
    transform: scale(1.1) rotate(-20deg);
    z-index: 99;
}

li.card2{
    left: 70px;
    top: 10px;
    z-index: 2;
    transform: rotate(-10deg);
}

li.card2:hover{
    transform: scale(1.1) rotate(-10deg);
    z-index: 99;
}

li.card3{
    z-index: 3;
}

li.card3:hover{
    transform: scale(1.1);
    z-index: 99;
}

li.card4{
    right: 70px;
    top: 10px;
    z-index: 2;
    transform: rotate(10deg);
}

li.card4:hover{
    transform: scale(1.1) rotate(10deg);
    z-index: 99;
}

li.card5{
    right: 150px;
    top: 40px;
    z-index: 1;
    transform: rotate(20deg);
}

li.card5:hover{
    transform: scale(1.1) rotate(20deg);
    z-index: 99;
}