*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(18, 20, 114);
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a{
    text-decoration: none;
    color: white;
}

nav ul li{
    background-color: rgb(18, 20, 114);
    padding: 20px;
}

nav ul li:hover{
    background-color: white;
    color: black;
}