/* Reseteo de CSS */
* {
    margin:0; 
    padding:0; 
    box-sizing: border-box; 
}

/* Le cambiamos el tipo de letra */
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    color: #F0F0F0;
}

.app-container{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.sidebar{
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
    background-color: #121212;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
}

.content{
    flex-grow: 1;
    width: 80vw;
}

.content .top-bar{
    display: flex;
    justify-content: end;
    gap: 20px;
    height: 5vh;
}

.album-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #121212;
    margin: 5px;
    border-radius: 10px;
    height: 85vh;
}

.album-grid .album-card{
    width: 200px;
    height: 250px;
    margin-top: 25px;
    padding: 20px;
    border-radius: 15px; 
    transition: background-color 1s;
}

.album-grid .album-card:hover{
    background-color:#3c3c3c ;
    border-radius: 15px;
}

.album-card svg{
    width: 32px;
    margin-top: 3px;
}

.album-card div{
    background-color: #3AE376;
    border-radius: 90px;
    width: 39px;
    text-align: center;
    position: relative;
    top: -45px;
    right: -115px;
    opacity: 0;
    transition: opacity 1s, top 0.5s;
}

.album-card:hover div{
    opacity: 1;
    top: -50px;
}

.album-card img{
    width: 100%;
    border-radius: 25px;
}

.player{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    border-radius: 10px;
    margin: 5px;
    padding: 0 20px;
}


.controls svg,.volume svg{
    width: 32px;
}
